<html>
    <head>
        <title>Entidades Usuario</title>
        <link rel="stylesheet" href="/dds.css" type="text/css" />
    </head>
    <body>
        <ul class="encabezado">
            <li class = "elemento_encabezado"><a class = "link_elemento_encabezado" href="/usuario">Usuario</a></li>
            <li class = "elemento_encabezado"><a class = "link_elemento_encabezado" href = "/entidades">Entidades</a></li>
        </ul>
        <section class = "content">
            <fieldset class = "formulario">
                <legend>Crear entidad jurídica</legend>
                <form method="POST" action=/entidades/crear_entidad_juridica class="content">
                    <label class = "label2">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre..." />
                    <label class = "label2">Razón Social</label>
                    <input type="text" id="razon_social" name="razon_social" placeholder="Ingrese razón social..." />
                    <label class = "label2">Cuit</label>
                    <input type="text" id="cuit" name="cuit" placeholder="Ingrese CUIT..." />
                    <label class = "label2">Dirección Postal</label>
                    <input type="text" id="direccion_postal" name="direccion_postal" placeholder="Ingrese dirección postal..." />
                    <label class = "label2">Código de Inscripción</label>
                    <input type="text" id="codigo_inscripcion" name="codigo_inscripcion" placeholder="Ingrese código de inscripción..." />
                    <br />
                    <input class = "submit_azul" type="submit" value="Crear" >
                    <input class = "submit_gris" type="submit" value="Cancelar" >
                </form>
            </fieldset>
          	</form>  
          		<form class = "content">
            	<br/>
            	<a class = "link_boton" href = "/entidades">  Volver  </a>
        	</form>
        </section>
    </body>
</html>