{{#partial "contenido"}}

<section class = "content">
	</div>            
		<fieldset class = "formulario">
	        <legend>Editar datos de la compra pendiente</legend>
	        <form action="/compras_pendientes/{{id}}/editar" method="post">
	            <label class = "label2">Cantidad presupuestos requeridos</label>
	            <input type="text" id="cantidad_presupuestos" name="cantidad_presupuestos" placeholder="Ingrese cantidad de presupuestos..." value="{{cantidadpresuprequeridos}}" />
	            <br />
	            <label class = "label2">Tipo de Medio de Pago:</label>        
	            <select class="combo" name="tipo_medio_pago" id="tipo_medio_pago">
	                <option value = "tarjetaDeCredito">Tarjeta de Credito</option>
	                <option value = "tarjetaDeDebito">Tarjeta de Debito</option>
	                <option value = "efectivo">Efectivo</option>
	                <option value = "cajeroAutomatico">Cajero Automatico</option>
	                <option value = "dineroCuenta">Dinero Cuenta</option>
	            </select>
             	<label class = "label2">Identificador de Medio de Pago</label>
            	<input type="text" id="identificador_medio_pago" name="identificador_medio_pago" placeholder="Ingrese identificador..." />
	            <br />
	            <br />                    
	            <label class = "label2">Criterio Presupuestario:</label>                     
	            <select class="combo" name="criterio" id="criterio">
	                <option value="sinCriterio">Sin criterio</option>
	                <option value="masBarato">Más barato</option>
	            </select>
	            <br />
	            <input class = "submit_azul" type="submit" value="Actualizar compra" >
	        </form>
	    </fieldset>      
    <div>
</section>

{{/partial}}

{{>layout.hbs}}