<html>
    <head>
        <title>Entidades Usuario</title>
        <link rel="stylesheet" href="/dds.css" type="text/css" />
    </head>
    <body>
        <ul class="encabezado">
            <li class = "elemento_encabezado"><a class = "link_elemento_encabezado" href="/usuario">Usuario</a></li>
            <li class = "elemento_encabezado"><a class = "link_elemento_encabezado" href = "/entidades">Entidades</a></li>
        </ul>
        <section class = "content">
	        <form method="POST" action=/login class="content">
	        	<form class = "content">
	            <a class = "link_boton" href = "entidades/crear_entidad_juridica">  Crear Entidad Juridica   </a>
	            <a class = "link_boton" href = "entidades/crear_entidad_base">  Crear Entidad Base  </a>
	        </form>
            <div>
	            <table>
	        	<tr>
	                <th> Entidad </th>
                    <th> Tipo </th>
                    <th></th>
                    <th></th>
	            </tr>
	        	{{#each entidades}}
	        		<tr>
	        		<td>{{ nombre }}</td>
	           		<td>{{ tipo }}</td>
	           		<td><a href="entidades/entidad_juridica">Ver</a></th>
                    <td><a href = "a">Borrar</a></td>
	           		</tr>
	        	{{/each}}
	        	</table>
            </div>
        </section>
    </body>
</html>