<html>
    <head>
        <link rel="stylesheet" href="/dds.css" type="text/css" />
    </head>
	<body>
	    <div>
			<form method="POST" action=/login class="content">
			    <label class = label1>Nombre</label>
			    <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre..." />
			    <label class = label1>Contrase単a</label>
			    <input type="password" id="contrasenia" name="contrasenia" placeholder="Ingrese contrase単a..." />
			    <br />
			    
			    
			    
			    <button class="submit_azul" type="submit" name="boton" value="iniciar_sesion">Iniciar Sesion</button>
   				<br />
   				<a class = "link_boton" href = "registrar_usuario">  Registrar nuevo usuario  </a>
			</form>
			Ultimo usuario creado   "{{nombre}}"   de tipo {{tipo_string}}
	    </div>
	    
	    <div id="popupNoExisteUsuario" class="overlay">
			<div class="popup">
				<h2>ERROR. No existe nombre de usuario</h2>
				<a class="close" href="#">&times;</a>
				<div class="content">
					No existe el nombre de usuario que ha ingresado.
				</div>
			</div>
		</div>
		
		<div id="popupContraseniaIncorrecta" class="overlay">
			<div class="popup">
				<h2>ERROR. La contrase単a es incorrecta</h2>
				<a class="close" href="#">&times;</a>
				<div class="content">
					La contrase単a que ha ingresado es incorrecta!!
				</div>
			</div>
		</div>
	</body>
</html>