{{#partial "contenido"}}

<form method="POST" action=/login class="content">
    <label class = label1>Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre..." />
    <label class = label1>Contrase침a</label>
    <input type="password" id="contrasenia" name="contrasenia" placeholder="Ingrese contrase침a..." />
    <label class = label1>Tipo de Usuario</label>
    <select class="combo">
        <option class="combo" value="Select">Elija una opci칩n...</option>
        <option value="estandar">Est치ndar</option>
        <option value="admin">Administrador</option>
    </select>
    <br />
    <input type="submit" value="Iniciar Sesi蚤" class = "link_boton">
    <a class = "link_boton" href = "/usuario">  Registrarse  </a>
</form>

{{/partial}}

{{>layout.hbs}}