{{#partial "contenido"}}

<form class = "content">
    <a class = "link_boton" href = "entidad_base/compras">  Compras  </a>
    <br/>
    <a class = "link_boton" href = "entidad_base/reportes_mensuales">  Ver reporte mensual   </a>
    <br/>
    <a class = "link_boton" href = "entidad_base/categorias">  Categorías  </a>
    <br/>
    <a class = "link_boton" href = "/entidades">  Volver  </a>
</form>

{{/partial}}

{{>layout.hbs}}