{{#partial "contenido"}}

        <section class = "content">
            <div>
            	{{{ tablaComprasPendientes }}}
            </div>
            <div>
            	<form action="/compras_pendientes/validar" method="post">
            		<input class = "submit_azul" type="submit" value="Validar todas las comprasPendientes" onclick="alert('Se validan las compras, chequee la bandeja de entrada. (Falta convertir exitosas en compras definitivas)')">
            	</form>
            </div>
            <a class = "link_boton_2" href = "/compras_pendientes/crear">  Crear Compra Pendiente  </a>
            <a class = "link_boton_2" href = "/">  Volver  </a>
        </section>

{{/partial}}

{{>layout.hbs}}       