{{#partial "contenido"}}

<section class = "content">
	Reportes Mensuales
	</br>
    <div>
    	{{{ tablaReportesMensuales}}}
    </div>
</section>
<br/>
    <a class = "link_boton" href = {{urlView}}>  Volver  </a>

{{/partial}}

{{>layout.hbs}}