<html>
    <head>
        <link rel="stylesheet" href="/dds.css" type="text/css" />
    </head>
	<body>
	    <div>
	    	REGISTRAR USUARIO</br>
			<form method="POST" action=/registrar_usuario class="content">
			    <label class = label1>Nombre</label>
			    <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre..." />
			    </br>
			    <label class = label1>Contraseña</label>
			    <input type="password" id="contrasenia" name="contrasenia" placeholder="Ingrese contraseña..." />
			   
			    <div id="popupContraseniaCorta" class="overlay">
					<div class="popup">
						<h2>ERROR. La contraseña es corta</h2>
						<a class="close" href="#">&times;</a>
						<div class="content">
							La contraseña debe tener al menos 8 caracteres.
						</div>
					</div>
				</div>
				
				<div id="popupContraseniaMala" class="overlay">
					<div class="popup">
						<h2>ERROR. La contraseña es mala</h2>
						<a class="close" href="#">&times;</a>
						<div class="content">
							La contraseña se encuentra entre las peores 10000 contraseñas!!
						</div>
					</div>
				</div>
				
				<div id="popupContraseniaRepiteCaracteres" class="overlay">
					<div class="popup">
						<h2>ERROR. La contraseña repite caracteres</h2>
						<a class="close" href="#">&times;</a>
						<div class="content">
							La contraseña no puede contener más de dos caracteres iguales seguidos.
						</div>
					</div>
				</div>
				
				<div id="popupYaExiste" class="overlay">
					<div class="popup">
						<h2>ERROR. El nombre de usuario ya existe</h2>
						<a class="close" href="#">&times;</a>
						<div class="content">
							Ya existe un usuario con este nombre. Pruebe con otro nombre.
						</div>
					</div>
				</div>
				
				<div id="popupContieneNombreUsuario" class="overlay">
					<div class="popup">
						<h2>ERROR. La contraseña contiene el</br>nombre de usuario</h2>
						<a class="close" href="#">&times;</a>
						<div class="content">
							La contraseña no puede contener el nombre de usuario. Cambie la contraseña.
						</div>
					</div>
				</div>
				
			    </br>
			    <label class = label1>Tipo de Usuario</label>
			    <select class="combo" name="tipousuario" required>
			        <option class="combo" value="">Elija una opción...</option>
			        <option value="estandar">Estándar</option>
			        <option value="admin">Administrador</option>
			    </select>
			    <br />
			    <button class="submit_azul" type="submit" name="boton" value="registrar_usuario">Registrar usuario</button>
			    </br>
   				<a class = "link_boton" href = "login">  Volver a iniciar sesion  </a>
			</form>
	    </div>
	</body>
</html>