{{#partial "contenido"}}

<section class = "content">
    Seleccionar Proveedor: </br>
    <div>
    {{{tablaSeleccionarProveedor}}}
    </div>
    <a class = "link_boton_2" href = {{urlView}}>  Volver al menú de la compra pendiente  </a>
</section>

{{/partial}}

{{>layout.hbs}}