{{#partial "contenido"}}

<section class = "content">
    Seleccionar Proveedor: </br>
    <div>
    {{{presupuesto.tablaSeleccionarProveedor}}}
    </div>
    <a class = "link_boton_2" href = /compras_pendientes/{{compra.id}}/presupuestos/{{presupuesto.id}} >  Volver al menú del presupuesto  </a>
</section>

{{/partial}}

{{>layout.hbs}}