{{#partial "contenido"}}

<form class = "content">
    <a class = "link_boton" href = "/compras">  Compras???   </a>
    <br/>
    <a class = "link_boton" href = "usuario/bandeja_de_entrada">  Bandeja de Entrada  </a>
    <br/>
    <a class = "link_boton" href = "/">  Volver  </a>
</form>
Nombre de usuario: {{ nombre }}

{{/partial}}

{{>layout.hbs}}